@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

// ### Body Copy
$font-size: 15px;

// ### Font
$Inter-font: 'Inter', sans-serif;
$LexendDeca-font: 'Lexend Deca', sans-serif;

// ## Headlines
$headline1: bold 28px/40.71px $Inter-font;
$headline2: bold 34px/40.71px $Inter-font;
$card-paragraph: normal 15px/29px $Inter-font;
$stats-headline: bold 26px/35px $Inter-font;
$stat-description: normal 12px/29px $LexendDeca-font;
