@use "../../shared/styles/typography.scss";

.alert {
  position: fixed;
  font: typography.$headline5;
  width: 100%;
  background-color: #fc4c4c80;
  top: 0;
  padding: 16px;
  color: #fff;
  display: flex;
  gap: 16px;
  z-index: 1;
}

.alert__content {
  margin: auto;
}

.alert__close {
  background-color: rgb(41, 41, 41, 0.5);
  border-radius: 10px;
  border: 1px solid rgb(41, 41, 41, 0.5);
  color: #fff;
  font: typography.$headline5;
  height: 2em;
  transition: all 0.5s ease-in-out;
  width: 2em;

  &:hover {
    background-color: rgb(41, 41, 41);
    box-shadow: 0 0 10px 2px #fc4c4c;
  }
}

.link {
  color: rgb(133, 255, 160);
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
